current_code/aclocal.m4
current_code/autogen.sh
current_code/autom4te.cache/
current_code/autoscan.log
current_code/build-aux
current_code/config.cache
current_code/config.h
current_code/config.h.in
current_code/config.h.in~
current_code/config.log
current_code/config.status
current_code/configure
current_code/configure.scan
current_code/INSTALL
current_code/Makefile
current_code/Makefile.in
current_code/mkinstalldirs
current_code/opendias.anjuta
current_code/opendias-*.tar.gz
current_code/sql/Makefile
current_code/sql/Makefile.in
current_code/src/dbaccess.gcda
current_code/src/dbaccess.gcno
current_code/src/dbaccess.o
current_code/src/db.gcda
current_code/src/db.gcno
current_code/src/db.o
current_code/src/debug.gcda
current_code/src/debug.gcno
current_code/src/debug.o
current_code/src/.deps/
current_code/src/doc_editor.gcda
current_code/src/doc_editor.gcno
current_code/src/doc_editor.o
current_code/src/imageProcessing.gcda
current_code/src/imageProcessing.gcno
current_code/src/imageProcessing.o
current_code/src/import_doc.gcda
current_code/src/import_doc.gcno
current_code/src/import_doc.o
current_code/src/main.gcda
current_code/src/main.gcno
current_code/src/main.o
current_code/src/Makefile
current_code/src/Makefile.in
current_code/src/ocr_plug.o
current_code/src/opendias
current_code/src/opendiasconfig
current_code/src/opendiasconfig.gcda
current_code/src/opendiasconfig.gcno
current_code/src/opendiasconfig.o
current_code/src/pageRender.gcda
current_code/src/pageRender.gcno
current_code/src/pageRender.o
current_code/src/read_odf.gcda
current_code/src/read_odf.gcno
current_code/src/read_odf.o
current_code/src/scan.gcda
current_code/src/scan.gcno
current_code/src/scanner.gcda
current_code/src/scanner.gcno
current_code/src/scanner.o
current_code/src/scan.o
current_code/src/simpleLinkedList.gcda
current_code/src/simpleLinkedList.gcno
current_code/src/simpleLinkedList.o
current_code/src/speak.o
current_code/src/utils.gcda
current_code/src/utils.gcno
current_code/src/utils.o
current_code/src/validation.gcda
current_code/src/validation.gcno
current_code/src/validation.o
current_code/src/web_handler.gcda
current_code/src/web_handler.gcno
current_code/src/web_handler.o
current_code/stamp-h1
current_code/test/config/startAppCommand
current_code/test/config/startAppCommands
current_code/test/_Inline/
current_code/test/results/
current_code/webcontent/images/datepicker/Makefile
current_code/webcontent/images/datepicker/Makefile.in
current_code/webcontent/images/easySlider/Makefile
current_code/webcontent/images/easySlider/Makefile.in
current_code/webcontent/images/jquery-ui/Makefile
current_code/webcontent/images/jquery-ui/Makefile.in
current_code/webcontent/images/Makefile
current_code/webcontent/images/Makefile.in
current_code/webcontent/images/tablesorter/Makefile
current_code/webcontent/images/tablesorter/Makefile.in
current_code/webcontent/includes/Makefile
current_code/webcontent/includes/Makefile.in
current_code/webcontent/Makefile
current_code/webcontent/Makefile.in
current_code/webcontent/style/Makefile
current_code/webcontent/style/Makefile.in
