aclocal.m4
autogen.sh
autom4te.cache/
autoscan.log
build-aux
config.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure
configure.scan
i18n/Makefile
i18n/Makefile.in
INSTALL
Makefile
Makefile.in
mkinstalldirs
opendias.anjuta
opendias-*.tar.gz
sql/Makefile
sql/Makefile.in
src/dbaccess.gcda
src/dbaccess.gcno
src/dbaccess.o
src/db.gcda
src/db.gcno
src/db.o
src/debug.gcda
src/debug.gcno
src/debug.o
src/.deps/
src/doc_editor.gcda
src/doc_editor.gcno
src/doc_editor.o
src/imageProcessing.gcda
src/imageProcessing.gcno
src/imageProcessing.o
src/import_doc.gcda
src/import_doc.gcno
src/import_doc.o
src/localisation.gcda
src/localisation.gcno
src/localisation.o
src/main.gcda
src/main.gcno
src/main.o
src/Makefile
src/Makefile.in
src/ocr_plug.gcda
src/ocr_plug.gcno
src/ocr_plug.o
src/opendias
src/opendiasconfig
src/opendiasconfig.gcda
src/opendiasconfig.gcno
src/opendiasconfig.o
src/pageRender.gcda
src/pageRender.gcno
src/pageRender.o
src/odf_plug.gcda
src/odf_plug.gcno
src/odf_plug.o
src/pdf_plug.gcda
src/pdf_plug.gcno
src/pdf_plug.o
src/sessionmanagement.gcda
src/sessionmanagement.gcno
src/sessionmanagement.o
src/saneDispatcher.gcda
src/saneDispatcher.gcno
src/saneDispatcher.o
src/scan.gcda
src/scan.gcno
src/scanner.gcda
src/scanner.gcno
src/scanner.o
src/scan.o
src/simpleLinkedList.gcda
src/simpleLinkedList.gcno
src/simpleLinkedList.o
src/speak.o
src/utils.gcda
src/utils.gcno
src/utils.o
src/validation.gcda
src/validation.gcno
src/validation.o
src/web_handler.gcda
src/web_handler.gcno
src/web_handler.o
stamp-h1
test/config/startAppCommand
test/config/startAppCommands
test/_Inline/
test/override_libs/libtesseract/libtesseract.o
test/override_libs/libtesseract/libtesseract.so
test/override_libs/libtesseract/libtesseract.so.3
test/override_libs/libtesseract/libtesseract.so.3.0.2
test/override_libs/libsane/libsane.o
test/override_libs/libsane/libsane.so
test/override_libs/libsane/libsane.so.1
test/override_libs/libsane/libsane.so.1.0.22
test/override_libs/liblept/liblept.o
test/override_libs/liblept/liblept.so
test/override_libs/liblept/liblept.so.3
test/override_libs/liblept/liblept.so.3.0.0
test/override_libs/libpoppler/libpoppler-cpp.so
test/override_libs/libpoppler/libpoppler-cpp.so.0
test/override_libs/libpoppler/libpoppler-cpp.so.0.2.0
test/override_libs/libpoppler/libpoppler.o
test/results/
webcontent/images/datepicker/Makefile
webcontent/images/datepicker/Makefile.in
webcontent/images/easySlider/Makefile
webcontent/images/easySlider/Makefile.in
webcontent/images/jquery-ui/Makefile
webcontent/images/jquery-ui/Makefile.in
webcontent/images/Makefile
webcontent/images/Makefile.in
webcontent/images/tablesorter/Makefile
webcontent/images/tablesorter/Makefile.in
webcontent/includes/Makefile
webcontent/includes/Makefile.in
webcontent/Makefile
webcontent/Makefile.in
webcontent/includes/local/Makefile
webcontent/includes/local/Makefile.in
webcontent/style/Makefile
webcontent/style/Makefile.in
