
  div,ul {
   padding: 0px;
   margin: 0px;
  }
  .cclear {
   clear: both;
  }
  h1 {
   font-size: 1.15em;
  }
  h2 {
   font-size: 1.4em;
   color: #7b0051;
   padding-bottom: 0.07em;
   border-bottom: 1px solid #ccc;
  }
  h3 {
   position: relative;
  }
  body {
   background-color: #ddddff;
   width: 100%;
   padding: 0px;
   margin: 0px;
   font-family: arial;
   font-size: 0.9em;
  }
  .container {
   width: 850px;
   margin: 0px auto;
   position: relative;
  }
  #header {
   background-color: #7b0051;
   min-height: 100px;
  }
  #logo {
    left: 10px;
    top: 20px;
  }
  .row {
    width: 680px;
    min-height: 30px;
    clear: both;
  }
  .label {
    float: left;
    text-align: right;
    margin-right: 6px;
    width: 170px;
    color: #333;
    font-weight: bold;
  }
  .data {
    float: left;
    width: 500px;
  }
  .innerLeftDisplay {
    float: left;
    width: 80px;
  }
  .innerLeftDisplay div {
    float: left;
    width: 38px;
    position: relative;
  }
  .innerLeftDisplay canvas {
    display: inline-block;
    position: absolute;
    top: -10px;
  }
  .innerLeftDisplay div p {
    position: relative;
    top: -11px;
    left: 20px;
  }
  .innerRightDisplay {
    float: left;
    position: relative;
    width: 215px;
  }

  #menu {
   position: relative;
   z-index: 20;
   background-color: #111;
   min-height: 20px;
   
  }
  #menu li {
   margin-top: 1px;
   padding-top: 1px;
   list-style-type: none;
   display: inline-block;
   width: 120px;
   text-align: center;
   border-right: 1px dotted #aaa;
  }
  #menu ul li:last-child {
   border-right: none;
  }
  #menu li a {
   color: #aaa;
   text-decoration: none;
  }
  #menu li a:hover {
   color: #ddd;
  }

  #body {
   position: relative;
  }

  html,body {
   margin:0;
   padding:0;
   height:100%;
  }
  #getdown {
   min-height: 100%;
   position:relative;
  }
  #footerpadding {
   clear: both;
   padding-bottom: 47px; /* height of the footer + some (15) */
  }
  #status li {
   list-style-type: none;
   display: inline-block;
   width: 120px;
   text-align: center;
  }

  #footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   border-top: 3px solid black;
   background-color: #7b0051;
   height: 42px;
   text-align: center;
  }
  #footer p {
   margin-top: 4px;
   color: #ccc;
  }

  .alert {
    color: #cc0000;
  }

  /*  ------- Page Elements ------ */

  #doclist {
    width: 85%;
    padding-left: 15px;
  }

  #filter {
   position: relative;
   z-index: 10;
   top: -5px;
   width: 750px;
  }
  #filterOptions {
   position: relative;
   display: none;
   padding-left: 30px;
   background-color: #ccccee;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
  }
  #filterInner {
   position: relative;
   padding: 25px;
  }
  #filterTab {
   cursor: pointer; cursor: hand;   
   background-color: #ccccee;
   font-size: 0.9em;
   width: 130px;
   color: #333;
   margin-top: -5px;
   padding-top: 8px;
   padding-bottom: 0px;
   margin-left: 550px;
   text-align: center;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
  }

  #progressContainer {
    align: center;
  }
  .picBorder {
    border: 8px solid #949494;
    padding: 0px;
    margin: 2px;
  }
  .scanImageContainer {
    margin: auto 0 auto;
    padding: 1px 1px;
  }

  #leftPane {
    float: left;
    width: 324px;
    padding-right: 15px;
    border-right: 1px solid black;
  }
  #rightPane {
    float: left;
    width: 430px;
    margin-left: 15px;
  }

  #playAudio {
    display: none;
  }

  .float5050 {
    width: 210px;
    float: left;
    margin-right: 4px;
  }
  #scannerTemplate {
    display: none;
  }
  #loading {
    width: 60px;
    max-height: 60px;
  }
  #scanning {
    font-weight: bold;
  }
  #tabs {
    margin-bottom: 10px;
  }
  .ui-tabs-panel {
    padding-bottom: 10px;
  }
  .resolutionQuality {
    min-height: 10px;
    background-color: rgba(255, 0, 0, 0.15);
    position: relative;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
  }
  .poorResolution {
    background-color: rgba(255, 0, 0, 0.10);
  }
  .greyResolution {
    background-color: rgba(255, 0, 0, 0.03);
  }
  .resolutionQualityGood {
    min-height: 10px;
    background-color: rgba(0, 255, 0, 0.35);
    left: 50px;
    width: 100px;
    position: absolute;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
  }
  .sweetResolution {
    background-color: rgba(0, 255, 0, 0.90);
  }
  .greySweetResolution {
    background-color: rgba(0, 255, 0, 0.1);
  }
  #saveAlert {
    display: none;
    color: #fff;
    font-weight: bold;
    position: fixed;
    padding: 25px;
    top: 0px;
    left: 10px;
    margin: 5px;
    background: #aa7777;
    border: 1px solid black;
  }
  #safeKeeping {
    display: none;
  }

  .accessControl h3 {
    background-color: #9999ee;
    padding-left: 7px;
    padding-bottom: 3px;
    padding-top: 3px;
  }
  .accessControl h4 {
    border-bottom: 3px solid black;
    margin-left: 30px;
  }
  .accessControl table thead {
    background-color: #9999ee;
  }
  .accessControl table tbody {
    background-color: #bbbbff;
    border: 1px solid #9999ee;
  }
  .accessControl table tbody td {
    padding: 3px;
  }
  .accessControl div {
    margin-left: 30px;
  }
  .accessControl div.row, .accessControl div.label, .accessControl div.data {
    margin-left: 0px;;
  }
  .accessControl .label {
    width: 100px;
  }

  #home h3 {
    background-color: #9999ee;
    padding-left: 7px;
    padding-bottom: 3px;
    padding-top: 3px;
  }
  #home li {
    margin-left: 35px;
  }
  #home p {
    margin-left: 15px;
  }
