
<h2>---LOCAL_app_home---</h2>

 <div id='home'>

  <h3>---LOCAL_welcome---</h3>

  <p style='float: left'><img src='/opendias/images/openDIAS_sml.png' width=140px /></p>
  <p style='float: right; padding: 3px; border: 1px solid black'><img src='/opendias/images/cabinet.jpg' style='border: 1px solid black' /></p>

  <p class='intro'>---LOCAL_home_intro---</p>

  <p>---LOCAL_home_intro2---</p>

  <ul>
    <li><a href='#' onclick='$("#arch").toggle("clip");'>---LOCAL_home_title_architecture---</a></li>
    <li><a href='#' onclick='$("#bugs").toggle("clip");'>---LOCAL_home_title_knownbugs---</a></li>
    <li><a href='#' onclick='$("#help").toggle("clip");'>---LOCAL_home_title_helpproject---</a></li>
  </ul>

  <div class='cclear'></div>

  <div id='arch' class='hidden'>
    <h3>---LOCAL_home_title_architecture---</h3>
    <span style='float: right; width: 146px; padding-left: 6px'>
      <a href='/opendias/images/opendias.jpg'>
        <img src='/opendias/images/opendias.jpg' style='width: 130px; border: 1px solid black;' />
      </a>
    </span>
    <p>---LOCAL_home_arch_intro---</p>
    <ul>
      <li>---LOCAL_home_arch_point1---</li>
      <li>---LOCAL_home_arch_point2---</li>
      <li>---LOCAL_home_arch_point3---</li>
      <li>---LOCAL_home_arch_point4---</li>
    </ul>
  </div>

  <div id='bugs' class='hidden'>
    <h3>---LOCAL_home_title_knownbugs---</h3>
    <h4>---LOCAL_home_subtitle_functional---</h4>
    <ul>
      <li>---LOCAL_home_functional_point1---</li>
    </ul>

    <h4>---LOCAL_home_subtitle_technical---</h4>
    <ul>
      <li>---LOCAL_home_technical_point1---</li>
      <li>---LOCAL_home_technical_point2---</li>
      <li>---LOCAL_home_technical_point3---</li>
    </ul>
  </div>

  <div id='help' class='hidden'>
    <h3>---LOCAL_home_title_helpproject2---</h3>
    <p>---LOCAL_home_helpproject_intro---</p>

    <div class='row'>

      <div style='float: left; width: 23%'>
        <strong>---LOCAL_home_help_subtitle_feedback---</strong>
        <p>---LOCAL_home_help_feedback_p1---</p>
        <p>---LOCAL_home_help_feedback_p2---</p>
      </div>

      <div style='float: left; width: 23%; border-left: 1px dashed black; margin-left: 10px; padding-left: 4px;'>
        <strong>---LOCAL_home_help_subtitle_publicise---</strong>
        <p>---LOCAL_home_help_publicise_p1---</p>
        <p>---LOCAL_home_help_publicise_p2---</p>
      </div>

      <div style='float: left; width:23%; border-left: 1px dashed black; margin-left: 10px; padding-left: 4px;'>
        <strong>---LOCAL_home_help_subtitle_hackers---</strong>
        <p>---LOCAL_home_help_hackers_p1---</p>
        <p>---LOCAL_home_help_hackers_p2---</p>
      </div>

      <div style='float: left; width:23%; border-left: 1px dashed black; margin-left: 10px; padding-left: 4px;'>
        <strong>---LOCAL_home_help_subtitle_donate---</strong>
        <p>---LOCAL_home_help_donate_p1---</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post"  style='float: left'>
          <input type="hidden" name="cmd" value="_donations" />
          <input type="hidden" name="business" value="booth@clearscene.net" />
          <input type="hidden" name="item_name" value="openDIAS Project" />
          <input type="hidden" name="no_shipping" value="0" />
          <input type="hidden" name="no_note" value="1" />
          <input type="hidden" name="currency_code" value="GBP" />
          <input type="hidden" name="tax" value="0" />
          <input type="hidden" name="lc" value="GB" />
          <input type="hidden" name="bn" value="PP-DonationsBF" />
          <input type="image" src="https://www.paypal.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online." />
          <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1" />
        </form>
        <p>---LOCAL_home_help_donate_p2---</p>
      </div>

    </div>

  </div>

  <p></p>

 </div>
