Package: opendias
Version: 0.2.6-1
Architecture: i386
Maintainer: wbooth <wbooth@essentialcollections.co.uk>
Installed-Size: 1332
Depends: libatk1.0-0 (>= 1.20.0), libc6 (>= 2.4), libcairo2 (>= 1.6.0), libespeak1 (>= 1.30), libgcc1 (>= 1:4.1.1-21), libglib2.0-0 (>= 2.12.0), libgtk2.0-0 (>= 2.12.0), libpango1.0-0 (>= 1.20.1), libsane (>= 1.0.11-3), libsqlite3-0 (>= 3.4.2), libstdc++6 (>= 4.1.1-21), libtiff4, libxml2 (>= 2.6.27), libzzip-0-13 (>= 0.13.49), tesseract-ocr
Section: office
Priority: extra
Description: Document Imaging Archive System (openDIAS).
 Home document imaging, with OCR. Scan documents (with SANE) or import ODF documents, assign tags. Use openDIAS to store all our letters, bills, statements, etc in a convenient, safe and easily retrievable way.
